In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
nba = Table.read_table('nba_salaries.csv')

In [3]:
nba

PLAYER           | POSITION | TEAM          | 2015-2016 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [4]:
nba.sort(3,descending=True)

PLAYER          | POSITION | TEAM                  | 2015-2016 SALARY
Kobe Bryant     | SF       | Los Angeles Lakers    | 25
Joe Johnson     | SF       | Brooklyn Nets         | 24.8949
LeBron James    | SF       | Cleveland Cavaliers   | 22.9705
Carmelo Anthony | SF       | New York Knicks       | 22.875
Dwight Howard   | C        | Houston Rockets       | 22.3594
Chris Bosh      | PF       | Miami Heat            | 22.1927
Chris Paul      | PG       | Los Angeles Clippers  | 21.4687
Kevin Durant    | SF       | Oklahoma City Thunder | 20.1586
Derrick Rose    | PG       | Chicago Bulls         | 20.0931
Dwyane Wade     | SG       | Miami Heat            | 20
... (407 rows omitted)

In [9]:
nba = nba.relabeled(3,"SALARY")
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [10]:
nba.where("SALARY", are.above(10))

PLAYER         | POSITION | TEAM              | SALARY
Paul Millsap   | PF       | Atlanta Hawks     | 18.6717
Al Horford     | C        | Atlanta Hawks     | 12
Joe Johnson    | SF       | Brooklyn Nets     | 24.8949
Thaddeus Young | PF       | Brooklyn Nets     | 11.236
Al Jefferson   | C        | Charlotte Hornets | 13.5
Nicolas Batum  | SG       | Charlotte Hornets | 13.1253
Kemba Walker   | PG       | Charlotte Hornets | 12
Derrick Rose   | PG       | Chicago Bulls     | 20.0931
Jimmy Butler   | SG       | Chicago Bulls     | 16.4075
Joakim Noah    | C        | Chicago Bulls     | 13.4
... (59 rows omitted)

In [12]:
nba.where("SALARY", are.above(10)).sort("SALARY")

PLAYER          | POSITION | TEAM                 | SALARY
DeMar DeRozan   | SG       | Toronto Raptors      | 10.05
Gerald Wallace  | SF       | Philadelphia 76ers   | 10.1059
Luol Deng       | SF       | Miami Heat           | 10.1516
Monta Ellis     | SG       | Indiana Pacers       | 10.3
Wilson Chandler | SF       | Denver Nuggets       | 10.4494
Brendan Haywood | C        | Cleveland Cavaliers  | 10.5225
Jrue Holiday    | PG       | New Orleans Pelicans | 10.5955
Tyreke Evans    | SG       | New Orleans Pelicans | 10.7346
Marcin Gortat   | C        | Washington Wizards   | 11.2174
Thaddeus Young  | PF       | Brooklyn Nets        | 11.236
... (59 rows omitted)

In [13]:
nba.where("SALARY", are.between(10,15)).sort("SALARY")

PLAYER          | POSITION | TEAM                 | SALARY
Danny Green     | SG       | San Antonio Spurs    | 10
DeMar DeRozan   | SG       | Toronto Raptors      | 10.05
Gerald Wallace  | SF       | Philadelphia 76ers   | 10.1059
Luol Deng       | SF       | Miami Heat           | 10.1516
Monta Ellis     | SG       | Indiana Pacers       | 10.3
Wilson Chandler | SF       | Denver Nuggets       | 10.4494
Brendan Haywood | C        | Cleveland Cavaliers  | 10.5225
Jrue Holiday    | PG       | New Orleans Pelicans | 10.5955
Tyreke Evans    | SG       | New Orleans Pelicans | 10.7346
Marcin Gortat   | C        | Washington Wizards   | 11.2174
... (29 rows omitted)

In [15]:
sanAntonioSpurs = nba.where("TEAM", are.equal_to('San Antonio Spurs'))
sanAntonioSpurs

PLAYER            | POSITION | TEAM              | SALARY
LaMarcus Aldridge | PF       | San Antonio Spurs | 19.689
Kawhi Leonard     | SF       | San Antonio Spurs | 16.4075
Tony Parker       | PG       | San Antonio Spurs | 13.4375
Danny Green       | SG       | San Antonio Spurs | 10
Boris Diaw        | C        | San Antonio Spurs | 7.5
Tim Duncan        | C        | San Antonio Spurs | 5.25
Patty Mills       | PG       | San Antonio Spurs | 3.57895
Manu Ginobili     | SG       | San Antonio Spurs | 2.814
David West        | PF       | San Antonio Spurs | 1.49919
Boban Marjanovic  | C        | San Antonio Spurs | 1.2
... (3 rows omitted)

In [16]:
sanAntonioSpurs.num_rows

13

In [17]:
sanAntonioSpurs.show()

In [19]:
sanAntonioSpurs.sort("SALARY",descending=True).show()

In [20]:
nba.where("TEAM","Washington Wizards")

PLAYER          | POSITION | TEAM               | SALARY
John Wall       | PG       | Washington Wizards | 15.852
Nene Hilario    | C        | Washington Wizards | 13
Marcin Gortat   | C        | Washington Wizards | 11.2174
Markieff Morris | PF       | Washington Wizards | 8
Bradley Beal    | SG       | Washington Wizards | 5.69467
Martell Webster | SF       | Washington Wizards | 5.6135
Otto Porter Jr. | SF       | Washington Wizards | 4.66296
Kris Humphries  | PF       | Washington Wizards | 4.44
Jared Dudley    | SF       | Washington Wizards | 4.375
Alan Anderson   | SG       | Washington Wizards | 4
... (7 rows omitted)

In [22]:
nba.where("TEAM",are.containing("Wizards"))

PLAYER          | POSITION | TEAM               | SALARY
John Wall       | PG       | Washington Wizards | 15.852
Nene Hilario    | C        | Washington Wizards | 13
Marcin Gortat   | C        | Washington Wizards | 11.2174
Markieff Morris | PF       | Washington Wizards | 8
Bradley Beal    | SG       | Washington Wizards | 5.69467
Martell Webster | SF       | Washington Wizards | 5.6135
Otto Porter Jr. | SF       | Washington Wizards | 4.66296
Kris Humphries  | PF       | Washington Wizards | 4.44
Jared Dudley    | SF       | Washington Wizards | 4.375
Alan Anderson   | SG       | Washington Wizards | 4
... (7 rows omitted)

In [23]:
# http://data8.org/datascience/predicates.html

In [24]:
nba.where("PLAYER",are.equal_to("Stephen Curry"))

PLAYER        | POSITION | TEAM                  | SALARY
Stephen Curry | PG       | Golden State Warriors | 11.3708