In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
nba = Table.read_table('nba_salaries.csv')

In [3]:
nba

PLAYER           | POSITION | TEAM          | 2015-2016 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [4]:
nba.sort('2015-2016 SALARY',descending=True)

PLAYER          | POSITION | TEAM                  | 2015-2016 SALARY
Kobe Bryant     | SF       | Los Angeles Lakers    | 25
Joe Johnson     | SF       | Brooklyn Nets         | 24.8949
LeBron James    | SF       | Cleveland Cavaliers   | 22.9705
Carmelo Anthony | SF       | New York Knicks       | 22.875
Dwight Howard   | C        | Houston Rockets       | 22.3594
Chris Bosh      | PF       | Miami Heat            | 22.1927
Chris Paul      | PG       | Los Angeles Clippers  | 21.4687
Kevin Durant    | SF       | Oklahoma City Thunder | 20.1586
Derrick Rose    | PG       | Chicago Bulls         | 20.0931
Dwyane Wade     | SG       | Miami Heat            | 20
... (407 rows omitted)

In [6]:
nba = nba.relabeled('2015-2016 SALARY', "SALARY")

In [7]:
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [8]:
nba.where("SALARY",are.above(10))

PLAYER         | POSITION | TEAM              | SALARY
Paul Millsap   | PF       | Atlanta Hawks     | 18.6717
Al Horford     | C        | Atlanta Hawks     | 12
Joe Johnson    | SF       | Brooklyn Nets     | 24.8949
Thaddeus Young | PF       | Brooklyn Nets     | 11.236
Al Jefferson   | C        | Charlotte Hornets | 13.5
Nicolas Batum  | SG       | Charlotte Hornets | 13.1253
Kemba Walker   | PG       | Charlotte Hornets | 12
Derrick Rose   | PG       | Chicago Bulls     | 20.0931
Jimmy Butler   | SG       | Chicago Bulls     | 16.4075
Joakim Noah    | C        | Chicago Bulls     | 13.4
... (59 rows omitted)

In [9]:
nba.where('SALARY', are.above(10)).sort("SALARY")

PLAYER          | POSITION | TEAM                 | SALARY
DeMar DeRozan   | SG       | Toronto Raptors      | 10.05
Gerald Wallace  | SF       | Philadelphia 76ers   | 10.1059
Luol Deng       | SF       | Miami Heat           | 10.1516
Monta Ellis     | SG       | Indiana Pacers       | 10.3
Wilson Chandler | SF       | Denver Nuggets       | 10.4494
Brendan Haywood | C        | Cleveland Cavaliers  | 10.5225
Jrue Holiday    | PG       | New Orleans Pelicans | 10.5955
Tyreke Evans    | SG       | New Orleans Pelicans | 10.7346
Marcin Gortat   | C        | Washington Wizards   | 11.2174
Thaddeus Young  | PF       | Brooklyn Nets        | 11.236
... (59 rows omitted)

In [10]:
nba.where("SALARY", are.between(10,15))

PLAYER           | POSITION | TEAM                | SALARY
Al Horford       | C        | Atlanta Hawks       | 12
Thaddeus Young   | PF       | Brooklyn Nets       | 11.236
Al Jefferson     | C        | Charlotte Hornets   | 13.5
Nicolas Batum    | SG       | Charlotte Hornets   | 13.1253
Kemba Walker     | PG       | Charlotte Hornets   | 12
Joakim Noah      | C        | Chicago Bulls       | 13.4
Tristan Thompson | C        | Cleveland Cavaliers | 14.2609
Brendan Haywood  | C        | Cleveland Cavaliers | 10.5225
Danilo Gallinari | SF       | Denver Nuggets      | 14
Kenneth Faried   | PF       | Denver Nuggets      | 11.236
... (29 rows omitted)

In [11]:
nba.where("TEAM", are.equal_to('Charlotte Hornets'))

PLAYER                 | POSITION | TEAM              | SALARY
Al Jefferson           | C        | Charlotte Hornets | 13.5
Nicolas Batum          | SG       | Charlotte Hornets | 13.1253
Kemba Walker           | PG       | Charlotte Hornets | 12
Marvin Williams        | PF       | Charlotte Hornets | 7
Michael Kidd-Gilchrist | SF       | Charlotte Hornets | 6.3314
Spencer Hawes          | PF       | Charlotte Hornets | 6.11003
Courtney Lee           | SG       | Charlotte Hornets | 5.675
Cody Zeller            | C        | Charlotte Hornets | 4.2042
Jeremy Lamb            | SG       | Charlotte Hornets | 3.03436
Brian Roberts          | PG       | Charlotte Hornets | 2.85494
... (8 rows omitted)

In [12]:
nba.where("TEAM", 'Charlotte Hornets')

PLAYER                 | POSITION | TEAM              | SALARY
Al Jefferson           | C        | Charlotte Hornets | 13.5
Nicolas Batum          | SG       | Charlotte Hornets | 13.1253
Kemba Walker           | PG       | Charlotte Hornets | 12
Marvin Williams        | PF       | Charlotte Hornets | 7
Michael Kidd-Gilchrist | SF       | Charlotte Hornets | 6.3314
Spencer Hawes          | PF       | Charlotte Hornets | 6.11003
Courtney Lee           | SG       | Charlotte Hornets | 5.675
Cody Zeller            | C        | Charlotte Hornets | 4.2042
Jeremy Lamb            | SG       | Charlotte Hornets | 3.03436
Brian Roberts          | PG       | Charlotte Hornets | 2.85494
... (8 rows omitted)

In [13]:
nba.where("TEAM", are.containing("Charlotte"))

PLAYER                 | POSITION | TEAM              | SALARY
Al Jefferson           | C        | Charlotte Hornets | 13.5
Nicolas Batum          | SG       | Charlotte Hornets | 13.1253
Kemba Walker           | PG       | Charlotte Hornets | 12
Marvin Williams        | PF       | Charlotte Hornets | 7
Michael Kidd-Gilchrist | SF       | Charlotte Hornets | 6.3314
Spencer Hawes          | PF       | Charlotte Hornets | 6.11003
Courtney Lee           | SG       | Charlotte Hornets | 5.675
Cody Zeller            | C        | Charlotte Hornets | 4.2042
Jeremy Lamb            | SG       | Charlotte Hornets | 3.03436
Brian Roberts          | PG       | Charlotte Hornets | 2.85494
... (8 rows omitted)

In [14]:
nba.where("PLAYER", are.equal_to("Stephen Curry"))

PLAYER        | POSITION | TEAM                  | SALARY
Stephen Curry | PG       | Golden State Warriors | 11.3708

In [15]:
nba.where("TEAM", are.equal_to("Golden State Warriors"))

PLAYER            | POSITION | TEAM                  | SALARY
Klay Thompson     | SG       | Golden State Warriors | 15.501
Draymond Green    | PF       | Golden State Warriors | 14.2609
Andrew Bogut      | C        | Golden State Warriors | 13.8
Andre Iguodala    | SF       | Golden State Warriors | 11.7105
Stephen Curry     | PG       | Golden State Warriors | 11.3708
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Marreese Speights | C        | Golden State Warriors | 3.815
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

In [16]:
nba.where("SALARY", are.between(10,12))

PLAYER          | POSITION | TEAM                  | SALARY
Thaddeus Young  | PF       | Brooklyn Nets         | 11.236
Brendan Haywood | C        | Cleveland Cavaliers   | 10.5225
Kenneth Faried  | PF       | Denver Nuggets        | 11.236
Wilson Chandler | SF       | Denver Nuggets        | 10.4494
Andre Iguodala  | SF       | Golden State Warriors | 11.7105
Stephen Curry   | PG       | Golden State Warriors | 11.3708
Monta Ellis     | SG       | Indiana Pacers        | 10.3
Luol Deng       | SF       | Miami Heat            | 10.1516
Tyreke Evans    | SG       | New Orleans Pelicans  | 10.7346
Jrue Holiday    | PG       | New Orleans Pelicans  | 10.5955
... (5 rows omitted)