In [5]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Listas

In [1]:
2

2

In [2]:
3.5

3.5

In [3]:
2.0

2.0

In [7]:
array_numerico =make_array(2,3.0)
array_numerico

array([2., 3.])

In [11]:
make_array(2,'three')

array(['2', 'three'], dtype='<U21')

In [12]:
[2,3.0,"Three"]

[2, 3.0, 'Three']

In [13]:
type([2,3.0,"Three"])

list

In [14]:
flowers = Table.read_table("flowers.csv")

In [15]:
flowers

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [16]:
my_favorite_flower = [5, "morning glory",'purple']

In [17]:
flowers.with_row(my_favorite_flower)

Petals | Name          | Color
8      | lotus         | pink
34     | sunflower     | yellow
5      | rose          | red
5      | morning glory | purple