In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [3]:
flowers = Table.read_table('flowers.csv')
flowers

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [4]:
country = ['USA',"Netherlands","Brazil"]

In [5]:
flowers.with_column("Country",country)

Petals | Name      | Color  | Country
8      | lotus     | pink   | USA
34     | sunflower | yellow | Netherlands
5      | rose      | red    | Brazil

In [12]:
nome_estudantes = make_array("José","Maria","Pedro")
nome_estudantes

array(['José', 'Maria', 'Pedro'], dtype='<U5')

In [13]:
id_estudantes = make_array(1,22,35)
id_estudantes

array([ 1, 22, 35])

In [15]:
nota_estudantes = make_array(10,8,5)
nota_estudantes

array([10,  8,  5])

In [17]:
estudantes = Table().with_columns("Name",nome_estudantes,"id",id_estudantes,"Score",nota_estudantes)
estudantes

Name  | id   | Score
José  | 1    | 10
Maria | 22   | 8
Pedro | 35   | 5

In [18]:
estudantes.select("Name")

Name
José
Maria
Pedro

In [23]:
nota = estudantes.column("Score")
max(nota)

10

In [24]:
max(estudantes.column("Score"))

10

In [25]:
estudantes.column("Score").max()

10