In [2]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Tables

In [3]:
Table.read_table('flowers.csv')

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [4]:
flowers = Table.read_table('flowers.csv')

In [5]:
flowers

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [6]:
flowers.select("Name","Color")

Name      | Color
lotus     | pink
sunflower | yellow
rose      | red

In [7]:
flowers.select("Petals")

Petals
8
34
5

In [8]:
flowers.select(0)

Petals
8
34
5

In [7]:
petals = flowers.select('Petals')

In [8]:
petals

Petals
8
34
5

In [9]:
flowers

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [10]:
flowers.select('Petals','Name')

Petals | Name
8      | lotus
34     | sunflower
5      | rose

In [11]:
flowers.drop('Color')

Petals | Name
8      | lotus
34     | sunflower
5      | rose